*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("mount.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: rgba(0,0,0,0.5);
}

li{
    list-style: none;
}

a{
    color: royalblue;
    text-decoration: none;
}
.nav-bar{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.nav-logo{
    font-size: 2rem;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}